<div class="container">
    <div class="row row-cols-1 row-cols-sm-1 row-cols-md-2">
    <div class="col-3">
    <div class="card d-block mx-auto" style="width: 18rem;">
    <div class="card-body">
    <h5 class="card-title " style="fontweight:bold;">CUSTOMER SERVICE</h5>
    <a href="#">Contact Us</a>
    <br>
    <a href="#">Terms And Conditions</a>
    <br>
    <a href="#">Privacy Policy & Terms Of Use</a>
    </div>
    </div>
    </div>
    <div class="col-9">
    <div id="i1">
    <h2>CONTACT US</h2>
    <p>WE ARE AVAILABLE 8AM TO 8PM EVERYDAY, 7 DAYS A WEEK TO TAKE
   YOUR ORDER OR ANSWER ANY QUESTION<br>REGARDING OUR PRODUCTS OR YOUR PURCHASE<br>PLEASE CALL CUSTOMER SERVICE AT 1-800-120-
   3300 OR EMAIL AT CARE@ADIDAS.COM.</p>
    </div>
    
    </div>
    </div>
   </div>
