<div class="container">
  <div class="carousel slide mt-3" data-bs-ride="carousel" id="crs">
  <div class="carousel-inner">
  <div class="carousel-item active" data-bs-interval="3000">
  <img src="https://content.adidas.co.in/static/hero/IIN_136
 6x677_23rd_April.jpg" alt="">
  </div>
  <div class="carousel-item" data-bs-interval="1000">
  <img src="https://content.adidas.co.in/static/hero/SUPERSP
 ECTRAL_1366x677_28th_April.jpg" alt="">
  </div>
  <div class="carousel-item" data-bs-slide="1000">
  <img src="https://content.adidas.co.in/static/hero/OUTLET_
 1366x677_22nd_March.jpg" alt="">
  </div>
  </div>
  <!--controls-->
  <button class="carousel-control-prev" data-bs-target="#crs" data-bsslide="prev">
  <span class="carousel-control-prev-icon"></span></button>
  <button class="carousel-control-next" data-bs-target="#crs" data-bsslide="next">
  <span class="carousel-control-next-icon"></span>
  </button>
  </div>
  <p id="p1" class="text-center mb-3 mt-3">SIGN UP & GET 15% OFF</p>
  <div class="row">
  <div class="col-sm-4"> <div class="card mt-3 mb-3 shadow">
  <div class="card-body">
  <img width="100%" height="300px" src="https://assets.myntassets.
 com/f_webp,dpr_1.5,q_60,w_210,c_limit,fl_progressive/assets/images/13444770/20
 21/3/22/fa55a0aa-85bc-4cbb-9d68-ba945edefb651616407741408-ADIDAS-Men-SportsShoes-8971616407740711-5.jpg" alt="">
  <p class="x1 mt-3">Men Adicaz Running Shoes</p>
  <a href="#" class="btn btn-dark">SHOP NOW</a>
  </div>
  </div>
  </div>
  <div class="col-sm-4">
  <div class="card mt-3 mb-3 shadow">
  <div class="card-body">
  <img width="100%" height="300px" src="https://assets.myntassets.
 com/f_webp,dpr_1.5,q_60,w_210,c_limit,fl_progressive/assets/images/13743400/20
 21/3/15/592d298f-bf63-4159-ad77-40a8632cf1a91615790801600-ADIDAS-Men-Yellow--
 White-Solid-CB-LIN-Sports-T-shirt-8831615-1.jpg" alt="">
  <p class="x1 mt-3">Men Solid CB LIN Sports Tee</p>
  <a href="#" class="btn btn-dark">SHOP NOW</a>
  </div>
  </div>
  </div>
  <div class="col-sm-4">
  <div class="card mt-3 mb-3 shadow">
  <div class="card-body">
  <img width="100%" height="300px" src="https://assets.myntasset
 s.com/f_webp,dpr_1.5,q_60,w_210,c_limit,fl_progressive/assets/images/9203031/2
 019/5/31/e7aba45a-e0bc-4836-aced-4f4a5598c8db1559280417301-ADIDAS-UnisexBackpacks-5161559280415867-1.jpg" alt="">
  <p class="x1 mt-3">Parkhood Solid Backpack</p>
  <a href="#" class="btn btn-dark">SHOP NOW</a>
  </div>
  </div>
  </div>
  </div>
  
  
 </div>
 <div>
  <app-footer></app-footer>
 </div>
